/* Font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');

/* Global Layout */
:root 
{
--text: #000000;
--primary: #3b4966;
--secondary: #ebf1ff;
--accent: #555153;
--error: red;
}

*
{
  font-family: 'Source Sans 3', sans-serif;
}

body 
{
  background: #b7bdc4;
  margin: 0;

}

header 
{
  background: rgba(125, 125, 137, 0.744);
}

header .container 
{
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#motto
{
  position: absolute;
  top: 25px;
  right: 1200px;
  font-size: 3em;
}

header a 
{
  color: #333;
  text-decoration: none;
}

.logo
{
  width: 110px;
  height: 100px;
  border-radius: 50%;
  justify-content: left;
}


.pages
{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* Home */
.home 
{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.itemInfo
{
  background: #fff;
  border-radius: 4px;
  margin: 10px auto;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.itemInfo #delete
{
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
  box-shadow: 1px 2px 2px 2px rgba(0,0,0,0.2);
}

.itemInfo #view
{
  position: absolute;
  top: 5px;
  right: 90px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
  box-shadow: 1px 2px 2px 2px rgba(0,0,0,0.2);
}

table
{
  margin-bottom: -20px;
  margin-left: -30px;
  margin-right: -10px;
  table-layout: fixed;
  border-collapse: collapse;
  width: 80%;
}

th, td
{
  text-align: center;
  padding: 0px;
}

th
{
  text-decoration: underline;
}

/* Create Item Form*/
label, input 
{
  display: block;
}

input 
{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button
{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

div.error 
{
  padding: 10px;
  /* background: #ffefef; */
  /* border: 1px solid var(--error); */
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error 
{
  border: 1px solid var(--error);
}

/* Navigation */
nav 
{
  display: flex;
  align-items: center;
}

nav a, nav button 
{
  margin-left: 10px;
}

nav button 
{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* Authorization Forms */
form.signup, form.login 
{
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

/* View Item */
.showContainer
{
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 15px;
  
}

.siHeader
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.showItem
{
  margin-top: 10px;
  padding: 10px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  margin-left: 50px;
  margin-right: 50px;
}

.showBtn
{
  background: var(--primary);
  border: 0;
  color: #fff;;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 50px;
  margin-right: 50px;
}

.showItem
{
  font-size: .8em;
}

#si
{
}

#siDesc
{
  font-size: 1.5em;
}

